<div class="container mt-5">
    <h2>Please Select The User To See the Detail</h2>
    <ng-select (change)="goToUserDetail($event)">
        <ng-option *ngFor="let items of userData" let i=index [value]="items.id">{{items.first_name}}
            {{items.last_name}}</ng-option>
    </ng-select>
</div>