body{
    padding: 2rem 0rem;
  }
  .avatar {
    border: 0.3rem solid rgba(#fff, 0.3);
    margin-top: -6rem;
    margin-bottom: 1rem;
    max-width: 9rem;
  }

  .no-data{
    top: 130px;
  }

  .userdetail-card{
      display: flex;
      justify-content: center;
  }