<div class="container">
    <div class="row">
        <div class=" col-md-12 mt-5 userdetail-card">
            <div class="card" *ngIf="UserDetaiData" style="width: 22rem;">
                <img class="card-img-top"
                    src="https://images.unsplash.com/photo-1596079890744-c1a0462d0975?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8b2ZmaWNlfGVufDB8fDB8&ixlib=rb-1.2.1&w=1000&q=80"
                    alt="Bologna">
                <div class="card-body text-center">
                    <img class="avatar rounded-circle" [src]="UserDetaiData.avatar" alt="Bologna">
                    <h4 class="card-title">{{UserDetaiData.first_name}} {{UserDetaiData.last_name}}</h4>
                    <h6 class="card-subtitle mb-2 text-muted">{{UserDetaiData.email}}</h6>
                    <p class="card-text"></p>
                    <a class="btn btn-primary" [routerLink]="['/']">See Other User
                        Detail
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>